<!-- titulo -->
<div class="row">
    <div class="col">
        <h1>Tipos de cosas</h1>
    </div>
</div>

<!-- formulario -->
<div class="row mb-4">
    <div class="col">
        <form class="form-inline" method="POST" action="/tipos/registrar">
            <div class="form-group mr-sm-3 ">
                <input type="hidden" name="id" value="{{tipo.id}}">
                <input class="form-control" placeholder="Id" type="text" name="id" value="{{tipo.id}} " disabled>
            </div>
            <div class="form-group mr-sm-3 ">
                <input class="form-control" placeholder="Nombre" type="text" name="nombre" value="{{tipo.nombre}}">
            </div>
            <div class="form-group mr-sm-3 ">
                <input class="btn btn-primary mr-1" type="submit" value="Registrar">
                {{#if tipo.id}}
                <a href="/tipos" class="btn btn-light">Cancelar</a>
                {{/if}}
            </div>
        </form>
    </div>
</div>

<!-- listado -->
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each tipos}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td class="form-inline">
                        <form action="/tipos/editar/{{id}}" method="post">
                            <input class="btn btn-info btn-sm mr-1" type="submit" value="editar">
                        </form>
                        <form action="/tipos/eliminar/{{id}}" method="post">
                            <input class="btn btn-danger btn-sm" type="submit" value="eliminar">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</div>


<!-- listado -->