<div class="row">
    <div class="col">
        <h1 class="page-header">Aplicación de ejemplo!</h1>
        
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            Esto es una aplicación de ejemplo, hecha con node y usando Handlebars como 
            motor de vistas.
        </p>
        <p>
            En esta aplicacion se dan de alta "cosas", que a su vez tienen "tipos de cosa".
            Cada una de esas entidades tiene su ABM: el de tipo es simple, y el de "cosa" 
            es mas complejo, ya que tiene un combo
        </p>
        <p>
            La base de datos es SQLITE, y los estilos estan basados en bootstrap 4
        </p>
    </div>
</div>

