<!-- titulo -->
<div class="row">
    <div class="col">
        <h1>Nueva cosa</h1>
    </div>
</div>

<!-- formulario -->
<div class="row">
    <div class="col-6">
        <form action="/cosas/editar" method="POST">

            <div class="form-group">
                <label for="id">Id:</label>
                <input type="text" class="form-control" disabled value="{{cosa.id}}">
                <input type="hidden" name="id" value="{{cosa.id}}">
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{cosa.nombre}}">
            </div>

            <div class="form-group">
                <label for="idTipoCosa">Tipo</label>
                <select class="form-control" name="idTipoCosa" value="{{cosa.idTipoCosa}}">
                    {{#each tipos}}
                    <option value="{{id}}" {{#eq ../cosa.idTipoCosa id}}selected="selected" {{/eq}}>
                        {{nombre}}
                    </option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Actualizar cosa" class="btn btn-primary">
            </div>

        </form>
    </div>
</div>