<div class="row">
    <div class="col">
        <h1>Eliminar cosa # {{cosa.id}}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>Está seguro que desea elminar la cosa: {{cosa.nombre}} ?</h3>
        <form action="/cosas/eliminar" method="POST">
            <input type="hidden" name="id" value="{{cosa.id}}">
            <input class="btn btn-danger" type="submit" value="Confirmar eliminación">
        </form>
    </div>
</div>